body{
  margin: 0;
  font-family: Lato;
  color: #282A28;
}
.nav{
  position: relative;
  //overflow: hidden;
  position: fixed;
  z-index: 2;
  height: 60px;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.9);
}
.nav a {
  float: right;
  color: #E1E1E1;
  text-align: center;
  margin-top: 2px;
  margin-left: 2px;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 0.8em;
  transition: 0.3s;
}
.nav a:hover, .dropdown:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-content{
  margin-right: 10%;
  margin-top: 5px;
  margin-bottom: 60px;
  transition: all 1s;
}
.dropdown {
  float: right;
  overflow: hidden;
  margin-top: 2px;
  margin-left: 2px;
  transition: 0.3s;
}
.dropdown .dropbtn {
  font-size: 0.8em;
  border: none;
  outline: none;
  color: #E1E1E1;
  padding: 14px 20px;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0);
}
.dropdown-content {
  opacity:0;
  height: 0;
  overflow: hidden;
  position: absolute;
  background-image: url("../images/test2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: opacity 0.2s ease-out;
}
.dropdown-content a {
  float: none;
  font-size: 0.8em;
  color: white;
  margin: 5px;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
  opacity: 0.9;
  color: black;
  padding-left: 32px;
}
.dropdown:hover .dropdown-content {
  opacity: 1;
  height: auto;
}
.logo{
  position: absolute;
  margin-left: 10%;
  float: left;
  color: #E1E1E1;
  font-family: Streetwear;
  font-size: 1.2em;
}
.logo h2{
  margin: 0;
  padding: 0;
}
.heading-px{
  position: relative;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-color: black;
}
.heading-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../images/projects.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.heading{
  position: absolute;
  top: 30%;
  width: 100%;
}
.heading h1{
  text-align: center;
  vertical-align: middle;
  font-family: Lato-black;
  font-size: 3em;
  margin-bottom: 0;
  color: white;
  //#151516;
}
.heading h3{
  text-align: center;
  vertical-align: middle;
  font-family: Ailerons;
  font-family: Lato-black;
  margin-top: 0;
  color: white;
}
/* .heading{
  position: relative;
  text-align: center;
  height: 40vh;
  width: 100%;
  background-image: url("../images/projects.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.heading h3{
  margin: 0;
  padding: 0;
  font-family: Lato-Black;
}
.heading h1{
  margin: 0;
  padding-top: 14vh;
  padding-bottom: 2vh;
  font-size: 4em;
  font-family: Lato-Black;
} */
.intro{
  position: relative;
  height: 500px;
  width: auto;
}
.left{
  width: 60%;
  height: 100%;
  float: left;
}
.right{
  text-align: center;
  width: 40%;
  height: 100%;
  float: right;
  background-image: url("../images/art.jpg");
}
.info-text{
  padding: 10%;
}
.info-text p{
  font-family: Audrey;
  font-size: 1.1em;
  font-style: italic;
}
.line{
  height: 2px;
  width: 100px;
  background-color: #396939;
}
.quote{
  font-family: Lato-hairline;
  font-style: italic;
  line-height: 30px;
  padding: 20px 0;
}
.info-text h3{
  color:#488448;
}
img{
  margin: 0;
  padding: 0;
}
.rand{
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("../images/projs.jpg");
  background-size: cover;
}
.proj-heading{
  position: relative;
  margin-top: 75px;
  margin-bottom: 75px;
  width: 100%;
  text-align: center;
}
.proj-heading h1, .footer-heading h1{
  font-family: Lato;
  margin: 0;
  padding: 0;
}
.proj-heading h3, .footer-heading h3{
  margin: 0;
  padding: 0;
  font-family: Lato-hairline;
  font-style: italic;
}
.proj-content{
  position: relative;
  height: 500px;
  width: 100%;
}
.proj{
  position: relative;
  float:left;
  height: 100%;
  width: 28%;
  background-size: cover;
  background-repeat: no-repeat;
}
.proj1{
  background-image: url("../images/cc1.jpeg");
  background-position: center;
  margin: 0 0 0 5%;
}
.proj2{
  background-image: url("../images/proj2.PNG");
  width: 30%;
  margin: 0 2%;
}
.proj3{
  background-image: url("../images/cc7.jpeg");
  background-position: center;
  margin: 0 5% 0 0;
}

.proj4{
  background-image: url("../images/pitch.png");
  background-position: center;
  margin: 0 0 0 5%;
}
.proj5{
  background-image: url("../images/Sketches.png");
  width: 30%;
  margin: 0 2%;
}
.proj6{
  background-image: url("../images/others.png");
  background-position: center;
  margin: 0 5% 0 0;
}

.proj7{
  background-image: url("../images/school.jpg");
  background-position: center;
  margin: 0 0 0 5%;
}
.proj8{
  background-image: url("../images/luzon.jpg");
  width: 30%;
  margin: 0 2%;
}
.proj9{
  background-image: url("../images/overall.PNG");
  background-position: center;
  margin: 0 5% 0 0;
}

.cov1, .cov2, .cov3{
  position: absolute;
  opacity: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-out;
}
.proj h2{
  font-family: Lato;
  color: white;
  padding-top: 25%;
}
.proj1:hover .cov1{
  opacity: 1;
}
.proj2:hover .cov2{
  opacity: 1;
}
.proj3:hover .cov3{
  opacity: 1;
}
.projTitles{
  position: relative;
  height: 200px;
  width: 100%;
  text-align: center;
}
.c{
  width: 28%;
  height: 100%;
  float: left;
}
.c h3{
  font-family: Lato-thin;
}
.cc1{
  margin: 0 0 0 5%;
}
.cc2{
  width: 30%;
  margin: 0 2%;
}
.cc7{
  margin: 0 5% 0 0;
}
.footer{
  position: relative;
  text-align: center;
  //padding: 20px 10%;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../images/test2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.footer h1{
  color: white;
  font-family: Streetwear;
  font-size: 3em;
  margin-top: 0;
}
.footer li{
  margin: 0;
  color: white;
  list-style: none;
  padding-bottom: 5px;
}
.footer-heading{
  background-color: #232323;
  text-align: center;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  color: white;
}
.copyright{
  position: relative;
  height: 75px;
  width: 100%;
  padding-top: 30px;
  background-color: #232323;
}
.copyright p{
  margin: 0;
  text-align: center;
  color: #6d6d6d;
  font-family: Lato;
}
.copyright a{
  text-decoration: none;
  color:#6d6d6d;
  margin: 0;
}
.copyright a:hover{
  color: white;
}
@font-face{
  font-family: "Lato";
  src: url("../css/fonts/Lato-Medium.ttf");
}
@font-face{
  font-family: "Lato-Hairline";
  src: url("../css/fonts/Lato-Hairline.ttf");
}
@font-face{
  font-family: "Lato-Black";
  src: url("../css/fonts/Lato-Black.ttf");
}
@font-face{
  font-family: "Lato-Thin";
  src: url("../css/fonts/Lato-Thin.ttf");
}
@font-face{
  font-family: "Streetwear";
  src: url("../css/fonts/Streetwear.otf");
}
@font-face{
  font-family: "Ailerons";
  src: url("../css/fonts/Ailerons.otf");
}
